.button {
  display: flex;

  a, &__action {
    cursor: pointer;
    text-decoration: none;
    color: var(--blue-extralight);
    font-weight: 400;
    background-color: var(--blue);
    border: 2px var(--blue) solid;
    border-radius: 12px;
    padding: 12px 24px;
  }

  &__action{
    width: 100%;
    text-align: center;
  }
}

.button--secondary {
  a, &__action {
    color: var(--blue);
    background-color: transparent;
    transition: 0.2s background-color ease-in-out, 0.2s color ease-in-out;

    &:hover {
      transition: 0.2s background-color ease-in-out, 0.2s color ease-in-out;
      background-color: var(--blue);
      color: var(--blue-extralight);
    }
  }
}

.button--rounded{
  width: 50px;
  height: 50px;
  div{
    padding: 0;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}