.item {
  display: flex;

  &__container {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #B1D4EC;
    border-radius: 12px;
    padding: 8px 12px;
    color: #153B56
  }

  &__icon{
    display: flex;
    align-items: center;
    img{
      width: 18px;
    }
  }
  &__name {
    font-size: var(--fs-s);
  }

  &__count {
    background: #8CC0E4;
    border-radius: 24px;
    padding: 2px 8px;
  }

}