.card {
  background-color: #E2EFF9;
  padding: 24px 16px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
  width: 50%;

  &__title {
    font-weight: 400;
    font-size: 16px;
    color: #1B547E;
  }

  &__values{
    display: flex;
    align-items: center;
    gap: 8px;
  }
  &__value {
    font-weight: 500;
    font-size: var(--fs-xl);
    color: #123854;
  }

  &__percentage {
    img{
      width: 10px;
    }
    &__value {
      color: #1B547E;
      font-size: var(--fs-xs);
      font-weight: 400;
      margin-left: 4px;
    }
  }
}