.logo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  margin-bottom: 24px;

  &__type{
    color: var(--blue);
    font-weight: 600;
    letter-spacing: -0.7px;
  }
}

