.general, .charts {
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 1220px) {
    flex-direction: column;
  }
}

.charts {
  .left {
    width: calc(100% - 28vw);

    @media screen and (max-width: 1220px) {
      width: 100%;
    }
  }

  .right {
    width: 24vw;

    @media screen and (max-width: 1220px) {
      width: 100%;
    }
  }
}
