.general{
  display: flex;
  justify-content: space-between;
}

.charts{
  display: flex;
  justify-content: space-between;
  .left{
      width: calc(100% - 28vw);
  }
  .right{
      width: 24vw;
  }
}