// .left{
//   width: calc(100% - 400px);
// }

// .right{
//   width: 400px;
// }

.top{
  display: flex;
  justify-content: space-between;
}

.bottom{
  display: flex;
  justify-content: space-between;
  .left{
      width: calc(100% - 28vw);
  }
  .right{
      width: 24vw;
  }
}