.sidebar{
  width: 270px;
  border-right: 1px var(--cyan-light) solid;
  padding: 48px 0;
  max-height: 100vh;
  position: sticky;
  top: 0;
  bottom: 0;

  &__container{
    width: 222px;
    height: 100%;
    margin: 0 24px;
    position: fixed;
  }

  &__search{
    margin-top: 24px;
  }

  @media screen and (max-width: 990px) {
    display: none;
  }
}