.sidebar{
  width: 270px;
  border-right: 1px var(--cyan-light) solid;
  padding: 48px 0;
  max-height: 100vh;
  position: sticky;
  top: 0;
  bottom: 0;

  &__container{
    width: 222px;
    height: calc(100vh - 96px);
    margin: 0 24px;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__search{
    margin-top: 24px;
  }

  @media screen and (max-width: 990px) {
    display: none;
  }
}