.navItem {
  list-style: none;
  margin-bottom: 10px;

  &__container {
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 16px;
    padding: 16px 10px;
    text-decoration: none;
    transition: 0.2s background-color ease-in-out;

    &:hover{
      background-color: var(--blue-light);
      transition: 0.2s background-color ease-in-out;
    }
  }

  .active {
    background-color: var(--blue-light);
  }

  &__title {
    color: var(--blue-deep);
    font-weight: 600;
  }
}