.container {
  display: flex;
  gap: 48px;
  height: 100vh;
  @media screen and (max-width: 1220px) {
    height: auto;
  }
}

.main {
  padding: 48px 0;
  width: calc(100vw - 380px);
  gap: 48px;

  @media screen and (max-width: 990px) {
    width: 90vw;
    margin: 0 auto;
  }
}