/* VARIABLES */

:root {
	// COLORS
	--cyan-extralight: #F6FAFD;
	--cyan-light: #CDE3F4;
	--black: #061119;
	--blue: #2B82DA;
	--blue-light: #E2EFF8;
	--blue-deep: #1E557B;
	--blue-dark: #17415E;

	// FONT-SIZE
	--fs-xl: 2rem;
	--fs-l: 1.75rem;
	--fs-m: 1.5rem;
	--fs-s: 1.125rem;
	--fs-xs: 1rem;
	--fm: "neue-haas-grotesk-text",-apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
}

/* RESET CSS */

html, body, div, span,
h1, h2, h3, h4, h5, h6, p,
a, img, i, ul, li,
article, aside, canvas, embed, 
figure, figcaption, footer, header, 
menu, nav, output, ruby, section, summary {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

/* GLOBAL CSS */

body{
	background-color: var(--cyan-extralight);
	font-family: var(--fm);
	font-size: var(--fs-s);
	color: var(--black);
}